@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
    
    font-family: 'MedievalSharp', cursive; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.contenedor{
   
    height: auto;
    margin-top: 65px;
    margin-bottom: 65px;
}

#filaPrincipal{
    
    height: auto;
    width: auto;
}

#columnaIzquierdaGrande{
    
    height: 522px;
    width: 50%;
}

#columnaDerechaGrande{
    height: 643px;
    padding-top: 75px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
}

#columnaInternaArriba{
    
    height: 326px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 75px;
}

#columnaInternaAbajo{
    height: 400px;
    padding-left: 0px;
    padding-right: 0px;
}

#imagenDerecha{
    
    height: 600px;
    width: 550px;
}

#contenedorImagenDerecha{

    margin-left: 10px;
}

#imagenIzquierdaArriba{
    height: 400px;
    width: 490px;
}

#contenedorImagenIzquierdaArriba{
    
    padding-left: 100px;
}

#imagenIzquierdaAbajo{
    height: 350px;
    width: 575px;
    margin-top: 10px;
}

#recuadroCentral{
    
    width: 400px;
    background-color: black;
    color: white;
    padding: 30px;
}

#bloqueNegativo{
    
    margin-top: -450px;
}

.titulo{
    font-family: 'MedievalSharp', cursive; 
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 0px;
}

p{
    
    font-family: 'MedievalSharp', cursive;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0px;
}

.encabezados{
    font-family: 'MedievalSharp', cursive; 
    text-align: center;
}

.checkbox{
    font-family: 'MedievalSharp', cursive; 
    text-align: center;
}

.boton{
    font-family: 'MedievalSharp', cursive; 
    text-align: center;
}

#botonEnviar{
    font-family: 'MedievalSharp', cursive; 
    border: 2px solid white;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    padding: 10px 20px;
}